@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

@font-face {
  font-family: 'IntroRust';
  src: url('intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

body {
    overflow: scroll;
    margin: 0;
    padding: 0;
    background-image: url('Images/bg.png');
    background-position: sticky;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

#hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    justify-items: center;
}

#hero h1 {
    font-family: 'IntroRust';
    margin: 0;
    font-size: 8rem;
    color: white;
    font-weight: 100;
}

#hero div {
    transform: translateY(calc(50vh - 8rem));
}

#hero a {
    text-decoration: none;
    font-family: 'IntroRust';
    color: rgb(119, 10, 156);
    font-size: 20px;
    background-color: #eeebdd;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    border-radius: 15px;
    corner-shape: squircle;
}

#intro {
    height: 100vh;
    justify-items: center;
    margin: 0;
    background-image: url('Images/intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro h2 {
    font-size: 3rem;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    color: whitesmoke;
}

#brief {
    height: 50vh;
    background-color: #fff6cd;
    width: 80vw;
    align-items: center;
    justify-items: center;
    padding: 10px;
    box-shadow: 10px 10px rgb(143, 143, 58);
    corner-shape: squircle;
    border-radius: 15px;
    justify-self: center;
}

#brief p {
    font-family: 'Teachers', sans-serif;
    width: 50vw;
    font-size: 1.5rem;
    color: rgb(0, 42, 106);
}

#intromain {
    transform: translateY(15vh);
}